<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Data Teachers</title>
</head>
<body>
<div class="jumbotron">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
        </tr>
        </thead>
        <tbody>
        <% dataTeachers.forEach((e, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= e.dataValues.id %></td>
                <td><%= e.dataValues.first_name %></td>
                <td><%= e.dataValues.last_name %></td>
                <td><%= e.dataValues.email %></td>
                <td>
                    <% if (e.dataValues.subjects.length === 0) { %>
                        <div class="warn">undefined</div>
                    <% } else { %>
                        <% e.dataValues.subjects.forEach(n => { %>
                            <b><%= n.dataValues.subject_name %></b>
                        <% }) %>
                    <% } %>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>